@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300&display=swap');
::-webkit-scrollbar-thumb{
  scrollbar-width: 3px;
  background-color: black;
}
::-webkit-scrollbar{
  width:3px;
}
.App{
  overflow: hidden;
}
*{
  /* min-height: auto; */
  scroll-behavior: smooth;
  
  padding:0;
  font-family: 'Overpass', sans-serif;
  margin: 0;
}
:root{
  --red:red;
}
.inter{
  animation: alt 2s ease-in-out;
  animation-delay: 900ms;
}
@keyframes alt {
  from{
    opacity: 0;
    transform: translateY(0%);
  }
  to{
    opacity:1;
    transform:translateY(-100%);
  }
}

